<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <header>
        <div class="header_wrap">
            <div class="logo">
                <a href="/">
                    <img src="/img/minibox_logo.png" alt="로고이미지">
                </a>
            </div>
            <div class="menu_user" sec:authorize="isAuthenticated()">
                <p>
                    <span th:text="${#authentication.principal.username}"
                          style="font-weight: bold; color:#fb4357"></span>
                    님 환영합니다!
                </p>
            </div>
            <div class="menu">
                <div class="menu_img">
                    <a href="/customer/login" sec:authorize="isAnonymous()" th:if="${#authorization.expression('isAnonymous()')}">
                        <img src="/img/login_icon.png" alt="로그인아이콘" class="login_icon"><span class="menu_text">로그인</span></a>

                    <a href="/customer/logout" sec:authorize="isAuthenticated()" th:if="${#authorization.expression('isAuthenticated()')}">
                        <img src="/img/login_icon.png" alt="로그아웃아이콘" class="logout_icon"><span class="menu_text">로그아웃</span></a>

                    <a href="/customer/join"><img src="/img/join_icon.png" alt="회원가입아이콘"><span class="menu_text">회원가입</span></a>

                    <a href="/my/Page"><img src="/img/mypage_icon.png" alt="마이페이지아이콘"><span class="menu_text">마이페이지</span></a>

                    <a th:href="@{/post/list.do}"><img src="/img/review.png" alt="리뷰아이콘"><span class="menu_text">리뷰게시판</span></a>
                </div>

<!--                <div class="menu_text">-->

<!--                    <a class="menu_item login" sec:authorize="isAnonymous()" th:href="@{/customer/login}">-->
<!--                        로그인-->
<!--                    </a>-->
<!--                    <a class="menu_item logout" sec:authorize="isAuthenticated()" th:href="@{/customer/logout}">-->
<!--                        로그아웃-->
<!--                    </a>-->
<!--                    <a class="join" href="/customer/join">-->
<!--                        회원가입-->
<!--                    </a>-->
<!--                    <a class="myPage" href="/my/Page">-->
<!--                        마이페이지-->
<!--                    </a>-->
<!--                    <a class="review" th:href="@{/post/list.do}">-->
<!--                        리뷰게시판-->
<!--                    </a>-->
<!--                </div>-->
            </div>

        </div>
    </header>
    <section>
        <div class="maintop">
            <div class="untitled">
                <div class="untitled__slides">
                    <div class="untitled__slide">
                        <div class="untitled__slideBg"></div>
                        <div class="untitled__slideContent">
                            <span style="display: block; color:#fff; font-size: 110px; font-family: 'TTWanjudaedunsancheB'; margin-left:90px; margin-top:60px; letter-spacing: 2px;">Avengers</span>
                            <span style="display: block; color:#fff; font-size: 110px; font-family: 'TTWanjudaedunsancheB'; margin-left:90px; margin-top:30px; letter-spacing: 2px;">Endgame</span>
                        </div>
                    </div>
                    <div class="untitled__slide">
                        <div class="untitled__slideBg"></div>
                        <div class="untitled__slideContent">
                            <p><span style="color:#886dd8; font-family: 'TTWanjudaedunsancheB';">E</span>
                                <span style="color:#32e4c3; font-family: 'TTWanjudaedunsancheB';">l</span>
                                <span style="color:#eb551c; font-family: 'TTWanjudaedunsancheB';">e</span>
                                <span style="color:#f7a713; font-family: 'TTWanjudaedunsancheB';">m</span>
                                <span style="color:#8d9d45; font-family: 'TTWanjudaedunsancheB';">e</span>
                                <span style="color:#498428; font-family: 'TTWanjudaedunsancheB';">n</span>
                                <span style="color:#32e4c3; font-family: 'TTWanjudaedunsancheB';">t</span>
                                <span style="color:#60dfff; font-family: 'TTWanjudaedunsancheB';">a</span>
                                <span style="color:#32e4c3; font-family: 'TTWanjudaedunsancheB';">l</span></p>
                        </div>
                    </div>
                    <div class="untitled__slide">
                        <div class="untitled__slideBg"></div>
                        <div class="untitled__slideContent">
                            <span style="color:#ff82c8; font-size: 110px; font-family: 'TTWanjudaedunsancheB';">Barbie</span>
                        </div>
                    </div>
                    <div class="untitled__slide">
                        <div class="untitled__slideBg"></div>
                        <div class="untitled__slideContent">
                            <span style="color:#007200; font-size: 110px; font-family: 'TTWanjudaedunsancheB';">Joker</span>
                        </div>
                    </div>
                </div>
                <div class="untitled__shutters"></div>
            </div>
        </div>
        <div class="parent_king">
            <h1>무비차트</h1>
            <div class="parent">
                <div class="swiper_button">
                    <div class="next">
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="prev">
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="swiper mySwiper wrap">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide movieList" th:each="boxOfficeApi : ${boxOfficeList}">
                            <div class="imgWrap">
                                <img class="listImg" th:src="${boxOfficeApi.image}" th:alt="${boxOfficeApi.movieNm}"/>
                                <div class="btnWrap">
                                    <button type="button" class="reservationButton"
                                            th:id="'reservation-' + ${boxOfficeApi.id}"
                                            th:data-movie-id="${boxOfficeApi.id}"
                                            th:data-movie-rank="${boxOfficeApi.rank}"
                                            th:data-movie-nm="${boxOfficeApi.movieNm}"
                                            th:data-image="${boxOfficeApi.image}"
                                            th:data-overview="${boxOfficeApi.overview}"
                                            th:data-runtime="${boxOfficeApi.runtime}"
                                            th:data-release-date="${boxOfficeApi.releaseDate}"
                                            th:onclick="'reservation(' + ${boxOfficeApi.id} + ')'">예매하기
                                    </button>
                                    <button type="button" class="reviewButton"
                                            th:id="'goReview-' + ${boxOfficeApi.id}"
                                            th:data-movie-id="${boxOfficeApi.id}"
                                            th:data-movie-nm="${boxOfficeApi.movieNm}"
                                            th:data-image="${boxOfficeApi.image}"
                                            th:data-overview="${boxOfficeApi.overview}"
                                            th:data-runtime="${boxOfficeApi.runtime}"
                                            th:data-release-date="${boxOfficeApi.releaseDate}"
                                            th:onclick="'(function() { goReview(' + ${boxOfficeApi.id} + ');})()'">
                                        상세보기
                                    </button>
                                </div>
                            </div>
                            <div class="movieName" th:text="${boxOfficeApi.movieNm}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <body>
        <div class="copyright">
            <h2>Copyright @DeveloperTeamMINIBOX.All rights reserved by 2023.</h2>
        </div>
        </body>
    </footer>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    //스와이퍼
    $(document).ready(function () {
        var swiper = new Swiper(".mySwiper", {
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            // 화면에 보여지는 슬라이드 갯수
            slidesPerView: 5,
            // 슬라이드 간격(픽셀)
            spaceBetween: 30,
            freeMode: true,
            //이미지 넘기는 갯수
            slidesPerGroup: 5,
            speed: 800,
        });
    });

    function reservation(id) {
        if (checkLoginAndRedirect()) {
            const movieElement = document.querySelector(`[data-movie-id="${id}"]`);
            const rank = movieElement.getAttribute("data-movie-rank");
            const movieNm = movieElement.getAttribute("data-movie-nm");
            const image = movieElement.getAttribute("data-image");
            const overview = movieElement.getAttribute("data-overview");
            const runtime = movieElement.getAttribute("data-runtime");
            const releaseDate = movieElement.getAttribute("data-release-date");

            // 폼 요소를 동적으로 생성하고 값을 설정합니다.
            const form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/reservation/start");

            addHiddenField(form, "id", id);
            addHiddenField(form, "rank", rank);
            addHiddenField(form, "movieNm", movieNm);
            addHiddenField(form, "image", image);
            addHiddenField(form, "overview", overview);
            addHiddenField(form, "runtime", runtime);
            addHiddenField(form, "releaseDate", releaseDate);

            // 생성된 폼 요소를 문서에 추가하고 제출합니다.
            document.body.appendChild(form);
            form.submit();
        }
    }
    function goReview(id) {
        const movieElement = document.querySelector(`[data-movie-id="${id}"]`);
        const rank = movieElement.getAttribute("data-movie-rank");
        const movieNm = movieElement.getAttribute("data-movie-nm");
        const image = movieElement.getAttribute("data-image");
        const overview = movieElement.getAttribute("data-overview");
        const runtime = movieElement.getAttribute("data-runtime");
        const releaseDate = movieElement.getAttribute("data-release-date");

        // 예매 페이지로 이동하고 값을 전달하는 코드
        window.location.href = `/post/detail/${rank}`;

    }

    function checkLoginAndRedirect() {
        const isLoggedIn = [[${#authentication.principal != 'anonymousUser'}]]; // Thymeleaf를 사용하여 로그인 상태를 확인합니다.

        if (isLoggedIn) {
            // 로그인한 상태이므로 함수 실행을 계속합니다.
            return true;
        } else {
            // 로그인하지 않은 상태인 경우 경고 메시지를 표시한 후 로그인 페이지로 이동합니다.
            alert("로그인 후 이용 가능합니다");
            window.location.href = "/customer/login";
        }
    }

    function addHiddenField(form, name, value) {
        const input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", name);
        input.setAttribute("value", value);
        form.appendChild(input);
    }

</script>
</html>